.grid{
    background-color: rgba(231, 244, 179, 0.575);
    color: rgb(143, 68, 249);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
html{
    background-color: rgb(235, 252, 189);
}


label {
    font-weight: bold;
    color: black;
}


input[type="radio"]:checked#male + label {
    color: blue;
}


input[type="radio"]:checked#female + label {
    color: pink;
}


input[type="radio"]:checked#others + label {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    color: transparent;
}



a:hover{
    color: red;
}
a{
    color: rgb(253, 250, 246);
}

.navigation{
    color: antiquewhite;
    border: solid 3px black;
    background-color: #0f2255;
    border-radius: 40px 20px;
    width: 20%;
}
.nav-bar{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

footer{
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(208, 233, 165);
}