html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: rgb(237, 250, 184);
}

header {
  background-color: rgb(237, 250, 184);
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #f9d66b;
}

#company-name {
  font-size: 2.5rem;
  color: #333;
  background-color: burlywood;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

.nav-list {
    display: flex;
    list-style: none;
    border: rgba(8, 8, 61, 0.833) solid 3px;
    background-color: rgba(8, 8, 61, 0.833);
    padding-bottom: 30px;
    border-radius: 30px 25px;

    justify-content: center;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(239, 237, 246);
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: #ffd700;
}


.section-intro {
  padding: 40px;
  text-align: center;
  background-color: #f7f7f7;
}

.section-intro h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.section-intro p {
  font-size: 1.2rem;
}

.section-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-color: #fff;
}

.media-item {
  width: 300px;
  height: auto;
}

.section-services {
  padding: 40px;
  background-color: #f4e3c3;
  text-align: center;
}

.table-services {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  border: solid;
  border-color: #0a0606;
  padding: auto;
  text-align: left;
}

.table-services th,
.table-services td {
  padding: 10px;
  border: 1px solid #ccc;
  border: solid;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.tabke-header {
  font-weight: bolder;
}
.service-head {
  border: dotted black 3px;
  border-radius: 30px;
  padding: 10px;
  background-color: darkgoldenrod;
}
